@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 57%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 11%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 71%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 88%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 82%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 16s;
}
.background li:nth-child(5) {
    left: 11%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 9%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 10s;
}
.background li:nth-child(7) {
    left: 68%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 35s;
}
.background li:nth-child(8) {
    left: 57%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 28s;
}
.background li:nth-child(9) {
    left: 22%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 33s;
}